
.uploader-list-container {
    color: #838383;
    font-size: 12px;
    margin-top: 10px;
    background-color: #FFF;
    border: solid 1px #ddd;
}
.uploader-list-container .queueList {
    margin: 20px;
}

.uploader-list-container .placeholder {
    border: 3px dashed #e6e6e6;
    min-height: 238px;
    padding-top: 158px;
    text-align: center;
    background: url("../image/image.png") center 93px no-repeat;
    color: #cccccc;
    font-size: 18px;
    position: relative;
}

.webuploader-container {
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#area {
    width: 140px;
    height: 140px;
}

